html
{
    background-color: #212121;
    height: 100%;
}   
.favouriteIcon
{
    width: 100px;
    height: 100px;
}
.mainIcon
{
    width: 150px;
    height: 150px;
}
.weatherParam
{
    background-color: #D8D8D8;
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    color: black;
}
ul
{
    list-style-type: none;
    padding: 0;
}
h1, h2
{
    color: white;
}
button
{
    background-color: white;
    color: black;
    border: 0;
    height: fit-content;
}
.headTitle
{
    width: fit-content;
    padding-right: 10%;
}
.head, .favouritesHead, .mainParams, .favouriteCityInfo
{
    align-items: center;
}
.mainCity, .favouriteCityInfo, .mainParams, .mainCityDescription, .head, .favourites, .favouritesHead, .weatherParam
{
    display: flex;
    flex-direction: row;
}
.favouriteCityInfo, .favourites
{
    justify-content: space-around;
}
.favouritesHead, .head, .mainCity
{
    justify-content: center;
}
.weatherParam, .mainCityDescription
{
    justify-content: space-between;
}
.mainParams, .favourites
{
    flex-wrap: wrap;
}
.delete, .add
{
    border-radius: 50%;
}
.favouriteCity
{
    width: 40%;
    padding: 1%;
    background-color:#353535;
    margin: 1%;
    border-radius: 20px;
}
.mainCityInfo
{
    margin-right: 5%;
    width: 15%;
}
.favouritesHead
{
    margin:0;
}
.find
{
    margin: 2%;
}
p
{
    margin: 0;
}
.mainParams
{
    width: 40%;
}
.mainCityInfo
{
    width: fit-content;
}
.temperature
{
    margin-left: 10%;
    margin-right: 10%;
}
.delete
{
    align-self: flex-start;
}
@media screen and (max-width: 768px)
{
    .favourites
    {
        display: inline;
    }
    .favouriteCity
    {
        width: 100%
    }
    .mainCity
    {
        justify-content: space-evenly;
    }
    .mainParams
    {
        width: 50%;
    }
    .mainIcon
    {
        width: 120px;
        height: 120px;
    }
    .favouriteIcon
    {
        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 480px)
{
    .mainCity, .favouritesHead
    {
        display: inline;
    }
    .favouriteIcon
    {
        height: 50px;
        width: 50px;
    }
    .mainCityInfo
    {
        width: 100%;
    }
    .updateLocation
    {
        background-image: url("imgs/arrow.jpg");
        background-size: cover;
        width: 30px;
        height: 30px;
        font-size: 0;
    }
    .mainParams
    {
        width: 100%
    }
    .cityName
    {
        width: 30%;
    }
    .favouriteCity
    {
        margin-top: 5%;
    }
    .favouriteParams
    {
        margin-bottom: 5%;
    }
}

